:root { 
    --main-bg-color: #361b1b;
    --accent-color: #181616;
    --font-color: #ececec;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--font-color);
    margin: auto;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: var(--accent-color);
    padding: 20px;
    border-radius: 10px;
}

.site-header{
    display: block;
    text-align: center;
    gap: 12px;
    margin-bottom: 20px;
    color: inherit
}

h1 {
    color: var(--accent-color);
    text-align: center;
}

.menu-toggle {
    display: inline-block;
    cursor: pointer;
    color: var(--font-color);
    font-size: 24px;
    margin-bottom: 10px;
    background: transparent;
}